@import "./variable";

.a11y__wrapper {
  padding: 26px;
  background-color: $testimonials-background;
  border-radius: 8px;
  text-align: center;
}

.a11y__heading {
  font-size: 18px;
}

.a11y__paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
  @include paragraph-style;
}

.a11y__input {
  border-radius: 50px;
  height: 49px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
}

.a11y__input {
  width: 90%;
  max-width: 90%;
}

.a11y__input {
  width: -webkit-fill-available;
  max-width: -webkit-fill-available;
}

.a11y__button {
  width: 100%;
  max-width: 100%;
  margin-top: 22px;
}
