@import "./variable";

footer {
  background-color: $footer-background;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer__heading--link {
  background-image: url("#{$image-path}/logo.svg");
  background-position-y: center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 158px;
  height: 47px;
  display: block;
  margin-right: 6px;
}

.footer__a11y--list {
  margin-top: 45px;
  margin-bottom: 45px;
}

.links__wrapper {
  margin-top: 76px;
  margin-bottom: 76px;
}

.contact__list--item,
.footer__nav--list-item,
.a11y__list--item {
  margin-top: 22px;
  margin-bottom: 22px;
}

.contact__list--item,
.social__media--list {
  @include flex-row;
}

.contact__list--item {
  position: relative;
  align-items: start;

}

.contact__list--item::before {
  content: "";
  background-repeat: no-repeat;
  width: 30px;
  height: 40px;
  margin-right: 13px;
}

.location::before {
  background-image: url("#{$image-path}/icon-location.svg");
  margin-right: 30px;
}

.email::before {
  background-image: url("#{$image-path}/icon-email.svg");
}

.phone::before {
  background-image: url("#{$image-path}/icon-phone.svg");
}

.social__media--list {
  justify-content: center;
}

.social__media--list-item {
  margin-left: 10px;
  margin-right: 10px;
}

.social__media--link {
  text-indent: -9999px;
  display: block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.facebook {
  background-image: url("#{$image-path}/icon-facebook.svg");
}

.instagram {
  background-image: url("#{$image-path}/icon-instagram.svg");
}

.twitter {
  background-image: url("#{$image-path}/icon-twitter.svg");
}
