@import "./variable";

.masthead {
  @include flex-row;
  justify-content: space-between;
  // flex-wrap: wrap;
}

.header {
  background-color: $intro-background;
  // background-image: url("#{$image-path}/bg-curvy-mobile.svg");
  // background-position: center;
  // background-size: contain;
}

.masthead__title--link {
  position: relative;
}

.masthead__title--link {
  background-image: url("#{$image-path}/logo.svg");
  background-position-y: center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 74px;
  height: auto;
  display: block;
  margin-right: 6px;
}

.header__article {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.header__article--paragraph {
  margin-top: 28px;
  margin-bottom: 28px;
  @include paragraph-style;
}
