@import "./variable";

.section__stay-positive {
  margin-top: 136px;
  margin-bottom: 136px;
}

.stay-positive__heading {
  font-size: 18px;
}

.stay-positive__article {
  margin-top: 70px;
  margin-bottom: 70px;
}

.stay-positive__paragraph {
  margin-top: 24px;
  margin-bottom: 24px;
  @include paragraph-style;
}

.stay-positive__paragraph--link {
  border-bottom: 1px solid $blue;
  max-width: max-content
}

.stay-positive__link {
  @include flex-row;
  font-size: 12px;
  color: $blue;
}

.stay-positive__link::after {
  content: "";
  background-image: url("#{$image-path}/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 8px;
  width: 16px;
  height: 16px;
}
