@import "./variable";

.section__features {
  text-align: center;
  @include inline-padding;
}

.features__image {
  max-width: 60px;
}

.features__article {
  margin-top: 70px;
  margin-bottom: 70px;
}

.features__heading {
  font-size: 18px;
}

.features__paragraph {
  @include paragraph-style;
}