@import "./variable";

.testimony__blockquote {
  background-color: $testimonials-background;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 8px;
}

.testimony {
  position: relative;
  display: grid;
  grid-row-gap: 22px;
  margin-top: 145px;
  margin-bottom: 145px;
}

.testimony::before {
  content: "";
  background-image: url("#{$image-path}/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -22px;
  left: 4px;
  display: block;
  width: 22px;
  height: 16px;
}

.testimony__image {
  border-radius: 50%;
  max-width: 40px;
  margin-right: 10px;
}

.testimony__identity {
  @include flex-row;
}

.testimony__name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
}

.testimony__activity {
  font-size: 10px;
}
