body {
  margin: auto;
  background-color: #181f2a;
  color: #ffffff; }

body * {
  font-family: sans-serif; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

a,
button {
  color: inherit; }

button {
  border: none; }

img {
  width: 100%; }

blockquote {
  margin: 0; }

.get__started--button {
  background-color: #339ecc;
  border-radius: 50px;
  max-width: max-content;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 72px;
  padding-right: 72px; }

.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header {
  background-color: #1c2431; }

.masthead__title--link {
  position: relative; }

.masthead__title--link {
  background-image: url("../images/logo.svg");
  background-position-y: center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 74px;
  height: auto;
  display: block;
  margin-right: 6px; }

.header__article {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center; }

.header__article--paragraph {
  margin-top: 28px;
  margin-bottom: 28px;
  line-height: 22px;
  font-size: 14px; }

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.navigation__list--item {
  margin-left: 20px; }

.section__features {
  text-align: center; }

.features__image {
  max-width: 60px; }

.features__article {
  margin-top: 70px;
  margin-bottom: 70px; }

.features__heading {
  font-size: 18px; }

.features__paragraph {
  line-height: 22px;
  font-size: 14px; }

.section__stay-positive {
  margin-top: 136px;
  margin-bottom: 136px; }

.stay-positive__heading {
  font-size: 18px; }

.stay-positive__article {
  margin-top: 70px;
  margin-bottom: 70px; }

.stay-positive__paragraph {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 22px;
  font-size: 14px; }

.stay-positive__paragraph--link {
  border-bottom: 1px solid #339ecc;
  max-width: max-content; }

.stay-positive__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  color: #339ecc; }

.stay-positive__link::after {
  content: "";
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 8px;
  width: 16px;
  height: 16px; }

.testimony__blockquote {
  background-color: #202a3c;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
  border-radius: 8px; }

.testimony {
  position: relative;
  display: grid;
  grid-row-gap: 22px;
  margin-top: 145px;
  margin-bottom: 145px; }

.testimony::before {
  content: "";
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -22px;
  left: 4px;
  display: block;
  width: 22px;
  height: 16px; }

.testimony__quote {
  line-height: 22px;
  font-size: 14px; }

.testimony__image {
  border-radius: 50%;
  max-width: 40px;
  margin-right: 10px; }

.testimony__identity {
  display: flex;
  flex-direction: row;
  align-items: center; }

.testimony__name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px; }

.testimony__activity {
  font-size: 10px; }

.a11y__wrapper {
  padding: 26px;
  background-color: #202a3c;
  border-radius: 8px;
  text-align: center; }

.a11y__heading {
  font-size: 18px; }

.a11y__paragraph {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 22px;
  font-size: 14px; }

.a11y__input {
  border-radius: 50px;
  height: 49px;
  padding-left: 22px;
  padding-right: 22px;
  border: none; }

.a11y__input {
  width: 90%;
  max-width: 90%; }

.a11y__input {
  width: -webkit-fill-available;
  max-width: -webkit-fill-available; }

.a11y__button {
  width: 100%;
  max-width: 100%;
  margin-top: 22px; }

footer {
  background-color: #0b1523;
  padding-top: 65px;
  padding-bottom: 65px; }

.footer__heading--link {
  background-image: url("../images/logo.svg");
  background-position-y: center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 158px;
  height: 47px;
  display: block;
  margin-right: 6px; }

.footer__a11y--list {
  margin-top: 45px;
  margin-bottom: 45px; }

.links__wrapper {
  margin-top: 76px;
  margin-bottom: 76px; }

.contact__list--item,
.footer__nav--list-item,
.a11y__list--item {
  margin-top: 22px;
  margin-bottom: 22px; }

.social__media--list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.social__media--list-item {
  margin-left: 10px;
  margin-right: 10px; }
