body {
  margin: auto;
  background-color: #181f2a;
  color: #ffffff; }

body * {
  font-family: sans-serif; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

a,
button {
  color: inherit; }

button {
  border: none; }

img {
  width: 100%; }

.get__started--button {
  background-color: #339ecc;
  border-radius: 50px;
  max-width: max-content;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 72px;
  padding-right: 72px; }

.masthead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.masthead__title--link {
  position: relative; }

.masthead__title--link {
  background-image: url("../images/logo.svg");
  background-position-y: center;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 74px;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-right: 6px; }

.header__article {
  text-align: center; }

.header__article--paragraph {
  margin-top: 28px;
  margin-bottom: 28px; }

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.navigation__list--item {
  margin-left: 20px; }
